<div class="control-button-group">
    <button class="control-button" (click)="onBack()" aria-label="Previous album">
        <span class="material-symbols-outlined">skip_previous</span>
    </button>
    <button class="control-button" (click)="onPlay()" aria-label="Play album">
        <span class="material-symbols-outlined">play_arrow</span>
    </button>
    <button class="control-button" (click)="onForward()" aria-label="Next album">
        <span class="material-symbols-outlined">skip_next</span>
    </button>
</div>