<div>
    <app-title [text]="artist?.name || 'Loading...'"></app-title>
    <div class="artist-image-container">
        <img *ngIf="selectedImageUrl; else loadingImage" [src]="selectedImageUrl"
            alt="{{ selectedAlbum?.name ? (selectedAlbum?.name + (selectedTrack?.name ? ' - ' + selectedTrack?.name : '')) : (selectedTrack?.name || 'Album cover') }}"
            class="artist-image" (click)="onPlay()">
        <ng-template #loadingImage>
            <img src="assets/placeholder-image.png" alt="Loading image...">
        </ng-template>
    </div>
    <app-control-buttons (back)="onBack()" (play)="onPlay()" (forward)="onForward()"></app-control-buttons>
</div>
<div>
    <app-nav-buttons-container>
        <app-nav-button label="Home" routeLink="/home"></app-nav-button>
        <app-nav-button label="Back" [routeLink]="type === 'artists' ? '/artists' : '/audiobooks'"></app-nav-button>
    </app-nav-buttons-container>
</div>