$text-color: #fff;

.footer-container {
    text-align: center;
    padding: 10px 0;
    color: $text-color;
    font-size: 0.9rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
}


@media (max-height: 1000px) {
    .footer-container {
        display: none;
    }
}



.github-link {
    margin-left: 10px;

    .github-icon {
        width: 24px;
        height: 24px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }
}